.detail-product {
    .name-product {
        font-size  : 20px;
        font-weight: 700;
    }

    .row {
        .col-6 {
            img {
                width: 100%;
            }


        }

        .price-product {
            font-size  : 19px;
            color      : red;
            font-weight: 700;
        }

        .km {
            .card {
                margin-left        : -1rem;
                margin-right       : -1rem;
                display            : flex;
                flex-wrap          : wrap;
                align-items        : stretch;
                margin-bottom      : 2rem;
                // width           : 320px;
                display            : flex;
                flex-direction     : column;
                border-radius      : 0.25rem;
                background-color   : rgba(17, 24, 39, 1);
                padding            : 1.5rem;
            }

            .header-card {
                display       : flex;
                flex-direction: column;
            }

            .desc {
                margin-top   : 0.75rem;
                margin-bottom: 0.75rem;
                line-height  : 1.625;
                color        : #fff;
                font-weight  : 700;
                font-size    : 20px;
            }

            .lists {
                margin-bottom: 1.5rem;
                flex         : 1 1 0%;
                color        : #fff;
            }

            .lists .list {
                margin-bottom: 0.5rem;
                display      : flex;
                margin-left  : 0.5rem
            }

            .action {
                border          : none;
                outline         : none;
                display         : inline-block;
                border-radius   : 0.25rem;
                background-color: rgba(167, 139, 250, 1);
                padding-left    : 1.25rem;
                padding-right   : 1.25rem;
                padding-top     : 0.75rem;
                padding-bottom  : 0.75rem;
                text-align      : center;
                font-weight     : 600;
                letter-spacing  : 0.05em;
                color           : rgba(17, 24, 39, 1);
            }
        }

        .desc {
            .card {
                margin-left        : -1rem;
                margin-right       : -1rem;
                display            : flex;
                flex-wrap          : wrap;
                align-items        : stretch;
                margin-bottom      : 2rem;
                // width           : 320px;
                display            : flex;
                flex-direction     : column;
                border-radius      : 0.25rem;
                background-color   : rgba(17, 24, 39, 1);
                padding            : 1.5rem;
            }

            .content-2 {
                p {
                    margin-top   : 0.75rem;
                    margin-bottom: 0.75rem;
                    line-height  : 1.625;
                    color        : #fff;
                    font-weight  : 500;
                    font-size    : 15px;
                }
            }

            .header-card {
                display       : flex;
                flex-direction: column;
            }

            .desc {
                margin-top   : 0.75rem;
                margin-bottom: 0.75rem;
                line-height  : 1.625;
                color        : #fff;
                font-weight  : 700;
                font-size    : 20px;
            }

            ul {
                // margin-bottom: 1.5rem;
                flex : 1 1 0%;
                color: #fff;
            }

            li {
                margin-bottom: 0.2rem;
                display      : flex;
                margin-left  : 0.5rem
            }


        }
    }
}