.dashborad-client {
    .main {
        overflow: hidden;

        .header {
            position       : fixed;
            width          : 100%;
            height         : 90px;
            background     : #fff;
            z-index        : 9999;
            top            : 0;
            left           : 0;
            right          : 0;
            text-align     : center;
            display        : flex;
            justify-content: space-between;

            img {
                width      : 200px;
                float      : left;
                margin-left: 20px;
                margin-top : 25px;
            }

            .icons {
                font-size : 25px;
                margin-top: 20px;

                .anticon-user {
                    margin-right: 20px;
                    margin-left : 20px;
                }
            }

        }

        .bannerProducts {
            background-image   : url(../../image/banner.png);
            background-size    : cover;
            background-repeat  : no-repeat;
            background-position: center;
            height             : 600px;
            width              : 100%;
            position           : relative;
        }

        .bannershop-content {
            color    : black;
            position : absolute;
            font-size: 30px;
            top      : 50%;
            left     : 45%;
        }

        .shop-main {
            margin-top: 20px;
            padding   : 20px;
        }

        .shop-content {
            justify-content: space-around;
            margin         : auto;
        }



        .shop-sidebar h2 {
            border-left: solid 2px #000;
            padding    : 6px 0 6px 14px;
            font-size  : 20px;
        }

        .shop-sidebar p {
            margin-top: 15px;
        }

        .sidebar-content {
            margin-top: 30px;
        }

        .sidebar-content label {
            margin-left: 10px;
            margin-top : 15px;
        }

        .sidebar-content input {
            margin-top: 15px;
        }

        .size a {
            display        : inline-block;
            border         : 1px solid #111111;
            color          : #111111;
            padding        : 0;
            width          : 40px;
            line-height    : 40px;
            margin         : 15px 10px 10px 0;
            font-size      : 14px;
            font-weight    : 500;
            text-decoration: none;
            text-align     : center;
        }

        .size a:hover {
            background-color: #000;
            color           : #fff;
        }

        .color a {
            display      : inline-block;
            border       : 1px solid #111111;
            padding      : 0;
            width        : 25px;
            height       : 25px;
            margin       : 15px 10px 10px 0;
            border-radius: 50%;
        }

        .color a:hover {
            border: solid 2px #000;
            width : 30px;
            height: 30px;
        }

        .tag a {
            display        : inline-block;
            border         : solid 1px #000;
            padding        : 10px;
            margin-top     : 15px;
            margin-left    : 10px;
            text-decoration: none;
            color          : #000;
        }

        .tag a:hover {
            background-color: #000;
            color           : #fff;
        }


        .category-name {
            cursor: pointer;
        }


    }
}