.register {
    background: radial-gradient(rgb(210, 241, 223), rgb(211, 215, 250), rgb(186, 216, 244)) 0% 0% / 400% 400%;

    Input {
        display            : block;
        margin             : auto;
        padding            : 10px;
        margin-top         : 10px;
        border             : 1px solid rgba(0, 0, 0);
        background         : #fff;
        font-size          : 15px;
        // width           : 250px;
        outline            : none;
    }

    Button {
        width        : 100%;
        border       : 1px solid rgba(0, 0, 0, 0);
        margin-top   : 10px;
        // padding   : 10px;
    }


    .container {
        display    : grid;
        place-items: center;
        height     : 100vh;
    }

    .login-box {

        width        : 500px;
        padding      : 50px;
        border-radius: 10px;
        box-shadow   : 0 32px 64px rgb(0 0 0 / 20%);
        background   : #fff;
    }

    .login-now {
        float          : right;
        text-decoration: underline;
        color          : blue;
        cursor         : pointer
    }
}